---
import LoadingScreen from '../components/LoadingScreen.astro';
import { ViewTransitions } from 'astro:transitions';
import CursorParticles from '../components/CursorParticles.astro';
import Cloud from '../components/Cloud.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';

import ImageParagraph from '../components/ImageParagraph.astro';
import Grass from '../components/Grass.astro';
import CowWalk from '../components/CowWalk.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="BovEco uses Chlorella vulgaris microalgae engineered to express phage-based lytic enzymes that selectively target methanogens in cattle, offering potential for affordable, crop-based solutions."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta name="author" content="Waterloo iGEM" />
    <link rel="icon" type="image/svg+xml" href="img/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <!-- <LoadingScreen /> -->
    <CursorParticles />
    <NavBar />
    <Cloud />
    <Cloud />
    <Cloud />
    <Cloud />
    <div transition:animate="fade">
      <slot />
    </div>
    <Footer />
    <!-- <img src="img/bovecotext.png" id="bovtext" /> -->

    <!-- <ImageParagraph
      imageUrl="img/logo.png"
      paragraph="This is your paragraph text."
      imageOnLeft={true}
    />

    <ImageParagraph
      imageUrl="img/logo.png"
      paragraph="This is another paragraph text."
      imageOnLeft={false}
    />

    <ImageParagraph
      imageUrl="img/bovecotext.png"
      paragraph="This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text.This is another paragraph text."
      imageOnLeft={true}
    />
    <CowWalk />
    <Grass /> -->

    <!-- <script>
      document.addEventListener('scroll', () => {
        const scrollTop = window.scrollY;
        const docHeight =
          document.documentElement.scrollHeight - window.innerHeight;
        const scrollFraction = scrollTop / docHeight;

        const endColor = [255, 124, 10]; //
        const startColor = [247, 185, 105]; //

        const r =
          startColor[0] + (endColor[0] - startColor[0]) * scrollFraction;
        const g =
          startColor[1] + (endColor[1] - startColor[1]) * scrollFraction;
        const b =
          startColor[2] + (endColor[2] - startColor[2]) * scrollFraction;

        document.body.style.backgroundColor = `rgb(${Math.round(r)}, ${Math.round(g)}, ${Math.round(b)})`;
      });
    </script> -->
  </body>
</html>

<style lang="scss">
  @import '../global.scss';

  body {
    background: linear-gradient(
      180deg,
      hsla(45, 100%, 95%, 1) 0%,
      hsla(34, 90%, 69%, 1) 55%,
      hsla(28, 100%, 52%, 1) 100%
    );

    // filter: progid:DXImageTransform.Microsoft.gradient(
    //   startColorstr='#FFF8E3',
    //   endColorstr='#F7BA68',
    //   GradientType=1
    // );
    // background: hsla(45, 100%, 95%, 1); background: linear-gradient(180deg, hsla(45, 100%, 95%, 1) 0%, hsla(34, 90%, 69%, 1) 55%, hsla(28, 100%, 52%, 1) 100%); background: -moz-linear-gradient(180deg, hsla(45, 100%, 95%, 1) 0%, hsla(34, 90%, 69%, 1) 55%, hsla(28, 100%, 52%, 1) 100%); background: -webkit-linear-gradient(180deg, hsla(45, 100%, 95%, 1) 0%, hsla(34, 90%, 69%, 1) 55%, hsla(28, 100%, 52%, 1) 100%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFF8E3", endColorstr="#F7BA68", GradientType=1 );
  }

  #bovtext {
    width: 12em;
    height: auto;
    filter: sepia(80%);
    margin-left: 1.5em;
  }
</style>
